<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme">

        <activity android:name=".CalendarActivity"/>
        <activity android:name=".PlannerActivity"/>
        <activity android:name=".AIPlanActivity"/>
        <activity android:name=".TrainerDashboardActivity"/>
        <activity android:name=".BillingActivity"/>
        <activity android:name=".WorkoutActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".RegisterActivity"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>